<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">

		({content})
			
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:harley.mccourt@northumbria.ac.uk">Email</a></li>
            		<li><a href="https://linktr.ee/glaciogoth">Linktree</a></li>
            		<li><a href="https://twitter.com/glacio_goth">Twitter</a></li>
            		<li><a href="https://www.linkedin.com/in/harley-r-mccourt-654a01199/">LinkedIn</a></li>
        		<li><a href="https://github.com/glacio-goth">GitHub</a></li>
			</ul>
		</footer>
	</body>
</html>
